
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&family=Roboto:wght@100;300;400;500;700;900&display=swap');


body{
    background-color: #e0e5f0;
}
.contenedor{
    box-sizing: border-box;
    width: 400px;
    height: 400px;
    background-color:#FBFBFB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    font-family: roboto;
    border-radius: 2px;
    margin-top: 20px;
  

 



}

img{
    width: 60px;
    height: auto;
   
}

.container{
    display: flex;
    justify-content: center;
    
    
   
    
}

.login{
    color: #588BDA;
    text-decoration: none;


}

.boton{
    background-color: #588BDA;
    width: 150px;
    height: 40px;
    color: #fafafa;
    margin-top: 15px;
    border-radius: 10px;
    border: none;

}

h1{
    font-size: 25px;
}
